div {
  font-size: 4rem;
  color: rgb(235, 226, 226);
  text-align: center;
  margin: 10rem 10rem;
  padding: 10rem 10rem;
  border-radius: 6px;
  background-color: #ffffff10;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}
body {
  background-image: url("https://source.unsplash.com/1600x900/?mountain");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
